body {
    margin: 0%;
    max-width: 1600px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5rem;
    background-color: aquamarine;
    border: solid 1px white;
}
.navbar-nav .nav-item {
    padding: 0 50px;
  }

  #Home, #Portfolio, #Certificates, #Services, #About {
    justify-content: center;
    align-items: center;
    text-align: center;
  } 